<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Eclipse TeXlipse Target Platform" sequenceNumber="1573198533">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.8.0.v20180611-0826"/>
      <repository location="http://download.eclipse.org/releases/photon/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
  </locations>
</target>
