<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 ###############################################################################
 #
 # Copyright (c) 2005-2008 by the TeXlipse Project.
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 #
 ###############################################################################
-->

<plugin>
   <extension-point id="CiteAutocompleteExtension" name="CiteAutocompleteExtension" schema="schema/CiteAutocompleteExtension.exsd"/>
   <extension-point id="BibEditorOutlineExtension" name="BibEditorOutlineExtension" schema="schema/BibEditorOutlineExtension.exsd"/>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="tex,ltx,sty,cls"
            id="net.sourceforge.texlipse.contentTypes.Latex"
            name="LaTeX File"
            priority="normal">
      </content-type>
   </extension>

   <extension
	     point="org.eclipse.core.filebuffers.documentSetup">
	  <participant
		    extensions="bib"
		    class="net.sourceforge.texlipse.bibeditor.BibSetupParticipant">
	  </participant>
   </extension>
   <extension
	     point="org.eclipse.core.filebuffers.documentSetup">
	   <participant
	         class="net.sourceforge.texlipse.editor.TexDocumentSetupParticipant"
	         contentTypeId="net.sourceforge.texlipse.contentTypes.Latex"/>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sourceforge.texlipse.editor.TexEditor"
            contributorClass="net.sourceforge.texlipse.editor.TexEditorActionContributor"
            default="true"
            icon="icons/texfile.gif"
            id="net.sourceforge.texlipse.TexEditor"
            name="LaTeX Editor">
         <contentTypeBinding
               contentTypeId="net.sourceforge.texlipse.contentTypes.Latex">
         </contentTypeBinding>
      </editor>
      <editor
            class="net.sourceforge.texlipse.bibeditor.BibEditor"
            icon="icons/bibfile.gif"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            name="BibTeX Editor"
            id="net.sourceforge.texlipse.bibeditor.BibEditor"
            extensions="bib"/>
   </extension>
   <extension
         id="net.sourceforge.texlipse.builder.TexlipseBuilder"
         name="Latex Builder"
         point="org.eclipse.core.resources.builders">
      <builder >
         <run class="net.sourceforge.texlipse.builder.TexlipseBuilder"/>
      </builder>
   </extension>
   <extension
         id="net.sourceforge.texlipse.builder.TexlipseNature"
         name="Latex Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="net.sourceforge.texlipse.builder.TexlipseNature"/>
      </runtime>
   </extension>
<!-- Icon is missing 
   <extension
         id="properties.projectNatureImage1"
         name="Latex Nature"
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            natureId="net.sourceforge.texlipse.builder.TexlipseNature"
            icon="icons/texnature.gif"
            id="net.sourceforge.texlipse.ui.projectNatureImage"/>
   </extension>
-->
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="texlipse.category1"
            class="net.sourceforge.texlipse.wizards.TexlipseProjectCreationWizard"
            finalPerspective="net.sourceforge.texlipse.TexlipsePerspective"
            icon="icons/logo.gif"
            id="net.sourceforge.texlipse.TexProjectWizard"
            name="LaTeX Project"
            project="true">
         <description>
            Create a LaTeX project
         </description>
      </wizard>
      <category
            name="Texlipse"
            id="texlipse.category1"/>
      <wizard
            category="texlipse.category1"
            class="net.sourceforge.texlipse.wizards.TexlipseNewTexFileWizard"
            icon="icons/texfile.gif"
            id="net.sourceforge.texlipse.wizards.TexlipseNewTexFileWizard"
            name="New LaTeX file">
      </wizard>
   </extension>
   <extension
         id="properties.propertyPage1"
         name="Latex Properties Page"
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            class="net.sourceforge.texlipse.properties.TexlipseProjectPropertyPage"
            nameFilter="*"
            name="Latex Project Properties"
            id="properties.TexlipseProjectPropertyPage">
         <filter
               value="net.sourceforge.texlipse.builder.TexlipseNature"
               name="projectNature"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="TeXlipse"
            id="TeXlipse"/>
      <view
            icon="icons/tableview.gif"
            class="net.sourceforge.texlipse.tableview.views.TexTableView"
            category="TeXlipse"
            name="LaTeX Table View"
            id="net.sourceforge.texlipse.TableView"/>
      <view
            icon="icons/outline_co.gif"
            class="net.sourceforge.texlipse.treeview.views.TexOutlineTreeView"
            category="TeXlipse"
            name="Full Latex Outline"
            id="net.sourceforge.texlipse.FullOutline"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.texlipse.properties.TexlipsePreferencePage"
            name="Texlipse"
            id="TexlipsePreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.BibtexPreferencePage"
            category="TexlipsePreferencePage"
            name="BibTeX Editor"
            id="BibtexPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.BibColoringPreferencePage"
            category="BibtexPreferencePage"
            name="Syntax Highlighting"
            id="net.sourceforge.texlipse.properties.BibColoringPreferencePage"/>            
      <page
            class="net.sourceforge.texlipse.templates.BibTexTemplatePreferencesPage"
            category="BibtexPreferencePage"
            name="Templates"
            id="net.sourceforge.texlipse.templates.BibTexTemplatePreferencesPage"/>
      <page
            class="net.sourceforge.texlipse.properties.editor.TexEditorPreferencePage"
            category="TexlipsePreferencePage"
            name="Editor"
            id="TexlipseEditorPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.editor.StyleCompletionPreferencePage"
            category="TexlipseEditorPreferencePage"
            name="Style completions"
            id="StyleCompletionPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.editor.SmartKeyPreferencePage"
            category="TexlipseEditorPreferencePage"
            name="Smart keys"
            id="SmartKeyPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.editor.ColoringPreferencePage"
            category="TexlipseEditorPreferencePage"
            name="Syntax Highlighting"
            id="net.sourceforge.texlipse.properties.editor.ColoringPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.editor.OutlinePreferencePage"
            category="TexlipseEditorPreferencePage"
            name="Outline"
            id="net.sourceforge.texlipse.properties.editor.OutlinePreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.editor.CodeFoldingPreferencePage"
            category="TexlipseEditorPreferencePage"
            name="Code Folding"
            id="net.sourceforge.texlipse.properties.editor.CodeFoldingPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.templates.TexTemplatePreferencesPage"
            category="TexlipseEditorPreferencePage"
            name="Templates"
            id="net.sourceforge.texlipse.properties.TeXPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.editor.IndentationPreferencePage"
            category="TexlipseEditorPreferencePage"
            name="Indentation"
            id="net.sourceforge.texlipse.properties.editor.IndentationPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.ProjectTemplatesPreferencePage"
            category="TexlipsePreferencePage"
            name="Document Templates"
            id="net.sourceforge.texlipse.properties.ProjectTemplatesPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.BuilderSettingsPreferencePage"
            category="TexlipsePreferencePage"
            name="Builder Settings"
            id="TexlipseBuilderPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.BuilderEnvPreferencePage"
            category="TexlipseBuilderPreferencePage"
            name="Environment"
            id="net.sourceforge.texlipse.properties.BuilderEnvPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.LatexTempExtsPreferencePage"
            category="TexlipseBuilderPreferencePage"
            name="Latex Temp Files"
            id="net.sourceforge.texlipse.properties.LatexTempExtsPreferencePage"/>            
      <page
            class="net.sourceforge.texlipse.properties.ViewerSettingsPreferencePage"
            category="TexlipsePreferencePage"
            name="Viewer Settings"
            id="TexlipseViewerSettingsPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.properties.ViewerEnvPreferencePage"
            category="TexlipseViewerSettingsPreferencePage"
            name="Environment"
            id="net.sourceforge.texlipse.properties.ViewerEnvPreferencePage"/>
      <page
            class="net.sourceforge.texlipse.spelling.SpellCheckerPreferencePage"
            category="TexlipsePreferencePage"
            name="Spell Checker"
            id="TexlipseSpellChecker"/>
      <page
            class="net.sourceforge.texlipse.spelling.SpellCheckerEnvPreferencePage"
            category="TexlipseSpellChecker"
            name="Environment"
            id="net.sourceforge.texlipse.spelling.SpellCheckerEnvPreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sourceforge.texlipse.properties.TexlipsePreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            primary="true"
            file="toc.xml"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts file="contexts.xml"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="net.sourceforge.texlipse.templates.TexContextType"
            id="net.sourceforge.texlipse.templates.tex"/>
		<template
        contextTypeId="net.sourceforge.texlipse.templates.tex"
        icon="icons/template.gif"
        description="Template for a list (description)"
        name="description"
        id="net.sourceforge.texlipse.templates.tex.description">
       	<pattern>
\begin{description}
  \item[${item}] ${cursor}
\end{description}
        </pattern>
        </template>
		<template
        contextTypeId="net.sourceforge.texlipse.templates.tex"
        icon="icons/template.gif"
        description="Template for a list (enumerate)"
        name="enumerate"
        id="net.sourceforge.texlipse.templates.tex.enumerate">
       	<pattern>
\begin{enumerate}
  \item ${cursor}
\end{enumerate}
        </pattern>
        </template>
		<template
        contextTypeId="net.sourceforge.texlipse.templates.tex"
        icon="icons/template.gif"
        description="Template for a list (itemize)"
        name="itemize"
        id="net.sourceforge.texlipse.templates.tex.itemize">
       	<pattern>
\begin{itemize}
  \item ${cursor}
\end{itemize}
        </pattern>
        </template>
		<template
        contextTypeId="net.sourceforge.texlipse.templates.tex"
        icon="icons/template.gif"
        description="Template for a table"
        name="table"
        id="net.sourceforge.texlipse.templates.tex.table">
		<pattern>
\begin{table}
\begin{tabular}{${columns}}
${cursor}
\end{tabular}
\caption{${tablecaption}}
\label{${tablelabel}}
\end{table}
		</pattern>
		</template>
		<template
        contextTypeId="net.sourceforge.texlipse.templates.tex"
        icon="icons/template.gif"
        description="Begin/end pattern"
        name="begin"
        id="net.sourceforge.texlipse.templates.tex.begin">
		<pattern>
\begin{${environment}}${cursor}
\end{${environment}}
		</pattern>
		</template>
		<template
        contextTypeId="net.sourceforge.texlipse.templates.tex"
        icon="icons/template.gif"
        description="Template for Figure"
        name="figure"
        id="net.sourceforge.texlipse.templates.tex.figure">
		<pattern>
%%\usepackage{graphics} is needed for \includegraphics
\begin{figure}[htp]
\begin{center}
  \includegraphics[width=${figureWidth}]{${filename}}
  \caption[${labelInTOC}]{${figureCaption}}
  \label{${figureLabel}}
\end{center}
\end{figure}
		</pattern>
		</template>
		
      <contextType
            class="net.sourceforge.texlipse.templates.TexContextType"
            id="net.sourceforge.texlipse.templates.math"/>
		<template
        contextTypeId="net.sourceforge.texlipse.templates.math"
        icon="icons/template.gif"
        description="Big square bracket"
        name="sqbr"
        id="net.sourceforge.texlipse.templates.tex.sqbr">
		<pattern>
\left[ ${formula} \right] ${cursor}
		</pattern>
		</template>
		<template
        contextTypeId="net.sourceforge.texlipse.templates.math"
        icon="icons/template.gif"
        description="Big braces"
        name="braces"
        id="net.sourceforge.texlipse.templates.tex.braces">
		<pattern>
\left\{ ${formula} \right\} ${cursor}
		</pattern>
		</template>
		
		
		
  <contextType
        class="net.sourceforge.texlipse.templates.BibTexContextType"
        id="net.sourceforge.texlipse.templates.bibtex"/>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Book"
        name="@book"
        id="net.sourceforge.texlipse.templates.bibtex.book">
     <pattern>
@Book{${ID},
  ALTauthor = 	 {${Author}},
  ALTeditor = 	 {${Editor}},
  title = 	 {${Title}},
  publisher = 	 {${Publisher}},
  year = 	 {${Year}},
  OPTkey = 	 {},
  OPTvolume = 	 {},
  OPTnumber = 	 {},
  OPTseries = 	 {},
  OPTaddress = 	 {},
  OPTedition = 	 {},
  OPTmonth = 	 {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>		
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Booklet"
        name="@booklet"
        id="net.sourceforge.texlipse.templates.bibtex.booklet">
     <pattern>
@Booklet{${ID},
  title = 	 {${Title}},
  OPTkey = 	 {},
  OPTauthor = 	 {},
  OPThowpublished = {},
  OPTaddress = 	 {},
  OPTmonth = 	 {},
  OPTyear = 	 {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>		
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Article in Journal"
        name="@article"
        id="net.sourceforge.texlipse.templates.bibtex.article">
     <pattern>
@Article{${ID},
  author = 	 {${Author}},
  title = 	 {${Title}},
  journal = 	 {${Journal}},
  year = 	 {${Year}},
  OPTkey = 	 {},
  OPTvolume = 	 {},
  OPTnumber = 	 {},
  OPTpages = 	 {},
  OPTmonth = 	 {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Article in Conference Proceedings"
        name="@inproceedings"
        id="net.sourceforge.texlipse.templates.bibtex.inproceedings">
     <pattern>
@InProceedings{${ID},
  author = 	 {${Author}},
  title = 	 {${Title}},
  OPTcrossref =  {},
  OPTkey = 	 {},
  OPTbooktitle = {},
  OPTpages = 	 {},
  OPTyear = 	 {},
  OPTeditor = 	 {},
  OPTvolume = 	 {},
  OPTnumber = 	 {},
  OPTseries = 	 {},
  OPTaddress = 	 {},
  OPTmonth = 	 {},
  OPTorganization = {},
  OPTpublisher = {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Article in a Collection"        
        name="@incollection"
        id="net.sourceforge.texlipse.templates.bibtex.incollection">
     <pattern>
@InCollection{${ID},
  author = 	 {${Author}},
  title = 	 {${Title}},
  booktitle = 	 {${Booktitle}},
  OPTcrossref =  {},
  OPTkey = 	 {},
  OPTpages = 	 {},
  OPTpublisher = {},
  OPTyear = 	 {},
  OPTeditor = 	 {},
  OPTvolume = 	 {},
  OPTnumber = 	 {},
  OPTseries = 	 {},
  OPTtype = 	 {},
  OPTchapter = 	 {},
  OPTaddress = 	 {},
  OPTedition = 	 {},
  OPTmonth = 	 {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Chapter or Pages in a Book"        
        name="@inbook"
        id="net.sourceforge.texlipse.templates.bibtex.inbook">
     <pattern>
@InBook{${ID},
  ALTauthor = 	 {${Author}},
  ALTeditor = 	 {${Editor}},
  title = 	 {${Title}},
  chapter = 	 {${Chapter}},
  publisher = 	 {${Publisher}},
  year = 	 {${Year}},
  OPTkey = 	 {},
  OPTvolume = 	 {},
  OPTnumber = 	 {},
  OPTseries = 	 {},
  OPTtype = 	 {},
  OPTaddress = 	 {},
  OPTedition = 	 {},
  OPTmonth = 	 {},
  OPTpages = 	 {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Conference Proceedings"        
        name="@proceedings"
        id="net.sourceforge.texlipse.templates.bibtex.proceedings">
     <pattern>
@Proceedings{${ID},
  title = 	 {${Title}},
  year = 	 {${Year}},
  OPTkey = 	 {},
  OPTbooktitle = {},
  OPTeditor = 	 {},
  OPTvolume = 	 {},
  OPTnumber = 	 {},
  OPTseries = 	 {},
  OPTaddress = 	 {},
  OPTmonth = 	 {},
  OPTorganization = {},
  OPTpublisher = {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="PhD. Thesis"        
        name="@phdthesis"
        id="net.sourceforge.texlipse.templates.bibtex.phdthesis">
     <pattern>
@PhdThesis{${ID},
  author = 	 {${Author}},
  title = 	 {${Title}},
  school = 	 {${School}},
  year = 	 {${Year}},
  OPTkey = 	 {},
  OPTtype = 	 {},
  OPTaddress = 	 {},
  OPTmonth = 	 {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Master's Thesis"
        name="@mastersthesis"
        id="net.sourceforge.texlipse.templates.bibtex.mastersthesis">
     <pattern>
@MastersThesis{${ID},
  author = 	 {${Author}},
  title = 	 {${Title}},
  school = 	 {${School}},
  year = 	 {${Year}},
  OPTkey = 	 {},
  OPTtype = 	 {},
  OPTaddress = 	 {},
  OPTmonth = 	 {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Technical Report"        
        name="@techreport"
        id="net.sourceforge.texlipse.templates.bibtex.techreport">
     <pattern>
@TechReport{${ID},
  author = 	 {${Author}},
  title = 	 {${Title}},
  institution =  {${Institution}},
  year = 	 {${Year}},
  OPTkey = 	 {},
  OPTtype = 	 {},
  OPTnumber = 	 {},
  OPTaddress = 	 {},
  OPTmonth = 	 {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Technical Manual"
        name="@manual"
        id="net.sourceforge.texlipse.templates.bibtex.manual">
     <pattern>
@Manual{${ID},
  title = 	 {${Title}},
  OPTkey = 	 {},
  OPTauthor = 	 {},
  OPTorganization = {},
  OPTaddress = 	 {},
  OPTedition = 	 {},
  OPTmonth = 	 {},
  OPTyear = 	 {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Unpublished"        
        name="@unpublished"
        id="net.sourceforge.texlipse.templates.bibtex.unpublished">
     <pattern>
@Unpublished{${ID},
  author = 	 {${Author}},
  title = 	 {${Title}},
  note = 	 {${Note}},
  OPTkey = 	 {},
  OPTmonth = 	 {},
  OPTyear = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Miscellaneous"        
        name="@misc"
        id="net.sourceforge.texlipse.templates.bibtex.misc">
     <pattern>
@Misc{${ID},
  OPTkey = 	 {},
  OPTauthor = 	 {},
  OPTtitle = 	 {},
  OPThowpublished = {},
  OPTmonth = 	 {},
  OPTyear = 	 {},
  OPTnote = 	 {},
  OPTannote = 	 {}
}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="String"        
        name="@string"
        id="net.sourceforge.texlipse.templates.bibtex.string">
     <pattern>
@String{${variable} = {${value}}}
     </pattern>
  </template>
  <template
        contextTypeId="net.sourceforge.texlipse.templates.bibtex"
        icon="icons/template.gif"
        description="Preamble"        
        name="@preamble"
        id="net.sourceforge.texlipse.templates.bibtex.preamble">
     <pattern>
@Preamble{}
     </pattern>
  </template>		
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="net.sourceforge.texlipse.texEditorScope"
            id="net.sourceforge.texlipse.editor.viewerContribution">
         <menu
               label="Source"
               id="net.sourceforge.texlipse.menus.source">
            <groupMarker name="latexGroup"/>
         </menu>
         <action
               class="net.sourceforge.texlipse.actions.SetMainFileAction"
               definitionId="net.sourceforge.texlipse.commands.setAsMainFile"
               id="net.sourceforge.texlipse.actions.setAsMainFile"
               label="Set As &amp;Main File"
               menubarPath="net.sourceforge.texlipse.menus.source/latexGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.SaveAsTemplateAction"
               definitionId="net.sourceforge.texlipse.commands.saveAsTemplate"
               icon="icons/savetemplate.gif"
               id="net.sourceforge.texlipse.actions.saveAsTemplate"
               label="Save As &amp;Template"
               menubarPath="net.sourceforge.texlipse.menus.source/latexGroup"
               style="push"
               tooltip="Save this file as a project template"/>
         <action
               class="net.sourceforge.texlipse.actions.TexUncomment"
               definitionId="net.sourceforge.texlipse.commands.texUncomment"
               icon="icons/uncomment.gif"
               id="net.sourceforge.texlipse.actions.texUncomment"
               label="&amp;Uncomment"
               menubarPath="net.sourceforge.texlipse.menus.source/latexGroup"
               style="push"
               tooltip="Uncomment selection"/>
         <action
               class="net.sourceforge.texlipse.actions.TexComment"
               definitionId="net.sourceforge.texlipse.commands.texComment"
               icon="icons/comment.gif"
               id="net.sourceforge.texlipse.actions.texComment"
               label="&amp;Comment"
               menubarPath="net.sourceforge.texlipse.menus.source/latexGroup"               
               style="push"
               tooltip="Comment selection"/>
         <action
               class="net.sourceforge.texlipse.actions.TexCorrectIndentationAction"
               definitionId="net.sourceforge.texlipse.commands.texCorrectIndentation"
               id="net.sourceforge.texlipse.actions.texCorrectIndentation"
               label="Correct &amp;Indentation"
               menubarPath="net.sourceforge.texlipse.menus.source/latexGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.TexHardLineWrapAction"
               definitionId="net.sourceforge.texlipse.commands.texHardLineWrap"
               id="net.sourceforge.texlipse.actions.texHardLineWrap"
               label="Correct &amp;Line Wrap"
               menubarPath="net.sourceforge.texlipse.menus.source/latexGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.TexCollapseAction"
               definitionId="net.sourceforge.texlipse.commands.texCollapse"
               id="net.sourceforge.texlipse.actions.texCollapse"
               label="Coll&amp;apse"
               menubarPath="net.sourceforge.texlipse.menus.source/latexGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.TexUncollapseAction"
               definitionId="net.sourceforge.texlipse.commands.texUncollapse"
               id="net.sourceforge.texlipse.actions.texUncollapse"
               label="Uncolla&amp;pse"
               menubarPath="net.sourceforge.texlipse.menus.source/latexGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.OpenDeclarationAction"
               definitionId="net.sourceforge.texlipse.commands.openDeclaration"
               id="net.sourceforge.texlipse.actions.openDeclaration"
               label="&amp;Open Declaration"
               menubarPath="group.open"
               style="push"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="net.sourceforge.texlipse.TexEditor"
            id="net.sourceforge.texlipse.editor.editorContribution">
         <menu
               label="&amp;Latex"
               id="net.sourceforge.texlipse.menus.latex">
            <separator name="sourceGroup"/>
            <separator name="latexGroup"/>
            <separator name="commentGroup"/>
            <separator name="spellGroup"/>
         </menu>
          <action
                class="net.sourceforge.texlipse.actions.WordCountAction"
                definitionId="net.sourceforge.texlipse.commands.wordCount"
                icon="icons/wordcount.gif"
                id="net.sourceforge.texlipse.actions.wordCount"
                label="&amp;Word Count"
                menubarPath="net.sourceforge.texlipse.menus.latex/sourceGroup"
                style="push"
                toolbarPath="latexGroup"
                tooltip="Word Count"/>
         <action
               class="net.sourceforge.texlipse.actions.PreviewAction"
               definitionId="net.sourceforge.texlipse.commands.preview"
               icon="icons/preview.gif"
               id="net.sourceforge.texlipse.actions.preview"
               label="Pre&amp;view Document"
               menubarPath="net.sourceforge.texlipse.menus.latex/sourceGroup"
               style="push"
               toolbarPath="latexGroup"
               tooltip="Launch the previewer"/>
         <action
               class="net.sourceforge.texlipse.actions.SetMainFileAction"
               definitionId="net.sourceforge.texlipse.commands.setAsMainFile"
               id="net.sourceforge.texlipse.actions.setAsMainFile"
               label="Set As &amp;Main File"
               menubarPath="net.sourceforge.texlipse.menus.latex/latexGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.SaveAsTemplateAction"
               definitionId="net.sourceforge.texlipse.commands.saveAsTemplate"
               icon="icons/savetemplate.gif"
               id="net.sourceforge.texlipse.actions.saveAsTemplate"
               label="Save As &amp;Template"
               menubarPath="net.sourceforge.texlipse.menus.latex/latexGroup"               
               style="push"
               toolbarPath="latexGroup"
               tooltip="Save this file as a project template"/>
         <action
               class="net.sourceforge.texlipse.actions.PartialBuildAction"
               definitionId="net.sourceforge.texlipse.commands.partialBuild"
               icon="icons/buildpartially.gif"
               id="net.sourceforge.texlipse.actions.partialBuild"
               label="Build &amp;Partially"
               menubarPath="net.sourceforge.texlipse.menus.latex/latexGroup"
               style="toggle"
               toolbarPath="latexGroup"
               tooltip="Toggle partial building on current project"/>
         <action
               class="net.sourceforge.texlipse.actions.TexWordWrapAction"
               definitionId="net.sourceforge.texlipse.commands.texWordWrap"
               icon="icons/wrap.gif"
               id="net.sourceforge.texlipse.actions.texWordWrap"
               label="W&amp;rap text"
               menubarPath="net.sourceforge.texlipse.menus.latex/latexGroup"
               style="toggle"
               toolbarPath="latexGroup"
               tooltip="Use word wrap"/>
         <action
               class="net.sourceforge.texlipse.actions.TexUncomment"
               definitionId="net.sourceforge.texlipse.commands.texUncomment"
               icon="icons/uncomment.gif"
               id="net.sourceforge.texlipse.actions.texUncomment"
               label="&amp;Uncomment"
               menubarPath="net.sourceforge.texlipse.menus.latex/commentGroup"
               style="push"
               toolbarPath="latexGroup"
               tooltip="Uncomment selection"/>
         <action
               class="net.sourceforge.texlipse.actions.TexComment"
               definitionId="net.sourceforge.texlipse.commands.texComment"
               icon="icons/comment.gif"
               id="net.sourceforge.texlipse.actions.texComment"
               label="&amp;Comment"
               menubarPath="net.sourceforge.texlipse.menus.latex/commentGroup"
               style="push"
               toolbarPath="latexGroup"
               tooltip="Comment selection"/>
         <action
               class="net.sourceforge.texlipse.actions.TexCorrectIndentationAction"
               definitionId="net.sourceforge.texlipse.commands.texCorrectIndentation"
               id="net.sourceforge.texlipse.actions.texCorrectIndentation"
               label="Correct &amp;Indentation"
               menubarPath="net.sourceforge.texlipse.menus.latex/commentGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.TexHardLineWrapAction"
               definitionId="net.sourceforge.texlipse.commands.texHardLineWrap"
               id="net.sourceforge.texlipse.actions.texHardLineWrap"
               label="Correct &amp;Line Wrap"
               menubarPath="net.sourceforge.texlipse.menus.latex/commentGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.spelling.SpellCheckAction"
               definitionId="net.sourceforge.texlipse.commands.spellCheck"
               id="net.sourceforge.texlipse.actions.spellCheck"
               label="Check Spelling"
               menubarPath="net.sourceforge.texlipse.menus.latex/spellGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.spelling.SpellUncheckAction"
               definitionId="net.sourceforge.texlipse.commands.spellUncheck"
               id="net.sourceforge.texlipse.actions.spellUncheck"
               label="Clear Spelling Errors"
               menubarPath="net.sourceforge.texlipse.menus.latex/spellGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.TexCollapseAction"
               definitionId="net.sourceforge.texlipse.commands.texCollapse"
               id="net.sourceforge.texlipse.actions.texCollapse"
               label="Coll&amp;apse"
               menubarPath="net.sourceforge.texlipse.menus.latex/commentGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.TexUncollapseAction"
               definitionId="net.sourceforge.texlipse.commands.texUncollapse"
               id="net.sourceforge.texlipse.actions.texUncollapse"
               label="Uncolla&amp;pse"
               menubarPath="net.sourceforge.texlipse.menus.latex/commentGroup"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.GoToMatchingBracketAction"
               definitionId="net.sourceforge.texlipse.commands.GotoMatchingBracket"
               id="net.sourceforge.texlipse.actions.goToBracket"
               label="Matching Bracket"
               menubarPath="navigate/goTo/additions2"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.OpenDeclarationAction"
               definitionId="net.sourceforge.texlipse.commands.openDeclaration"
               id="net.sourceforge.texlipse.actions.openDeclaration"
               label="&amp;Open Declaration"
               menubarPath="navigate/open.ext"
               style="push"/>
         <action
               class="net.sourceforge.texlipse.actions.RunBibTeXOnNextBuildAction"
               icon="icons/bibfile.gif"
               id="net.sourceforge.texlipse.action1"
               label="Run BibTeX on next build"
               menubarPath="net.sourceforge.texlipse.menus.latex/latexGroup"
               style="push">
         </action>
         <action
               class="net.sourceforge.texlipse.actions.ForceRebuildAction"
               icon="icons/build_exec.gif"
               id="net.sourceforge.texlipse.actions.ForceRebuild"
               label="Force build"
               menubarPath="net.sourceforge.texlipse.menus.latex/latexGroup"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.sourceforge.texlipse.texEditorScope"
            name="Editing Latex Source"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Latex Editing"
            name="Texlipse"
            id="net.sourceforge.texlipse.latexEditingCategory"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Set As Main File"
            id="net.sourceforge.texlipse.commands.setAsMainFile"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Save As Template"
            id="net.sourceforge.texlipse.commands.saveAsTemplate"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Partial Build"
            id="net.sourceforge.texlipse.commands.partialBuild"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Wrap text"
            id="net.sourceforge.texlipse.commands.texWordWrap"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Comment"
            id="net.sourceforge.texlipse.commands.texComment"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Uncomment"
            id="net.sourceforge.texlipse.commands.texUncomment"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Correct Line Wrap"
            id="net.sourceforge.texlipse.commands.texHardLineWrap"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Correct Indentation"
            id="net.sourceforge.texlipse.commands.texCorrectIndentation"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Word Count"
            id="net.sourceforge.texlipse.commands.wordCount"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Preview document"
            id="net.sourceforge.texlipse.commands.preview"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Check Spelling"
            id="net.sourceforge.texlipse.commands.spellCheck"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Clear Spelling Errors"
            id="net.sourceforge.texlipse.commands.spellUncheck"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Collapse foldings"
            id="net.sourceforge.texlipse.commands.texCollapse"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Uncollapse foldings"
            id="net.sourceforge.texlipse.commands.texUncollapse"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            name="Open Declaration"
            id="net.sourceforge.texlipse.commands.openDeclaration"/>
      <command
            categoryId="net.sourceforge.texlipse.latexEditingCategory"
            id="net.sourceforge.texlipse.commands.GotoMatchingBracket"
            name="Go to matching bracket"/>
   </extension>
   <!-- Keys: M1=Ctrl M2=Shift M3=Alt-->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sourceforge.texlipse.commands.texComment"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+5"/>
      <key
            commandId="net.sourceforge.texlipse.commands.texUncomment"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Esc M1+5"/>
      <key
            commandId="net.sourceforge.texlipse.commands.texHardLineWrap"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Esc Q"/>
      <key
            commandId="net.sourceforge.texlipse.commands.texCorrectIndentation"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I"/>
      <key
            commandId="net.sourceforge.texlipse.commands.preview"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4"/>
      <key
            commandId="net.sourceforge.texlipse.commands.spellCheck"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+6"/>
      <key
            commandId="net.sourceforge.texlipse.commands.spellUncheck"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+7"/>
      <key
            commandId="net.sourceforge.texlipse.commands.texCollapse"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+C"/>            
      <key
            commandId="net.sourceforge.texlipse.commands.texUncollapse"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+X"/>            
      <key
            commandId="net.sourceforge.texlipse.commands.openDeclaration"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>
      <key
            commandId="net.sourceforge.texlipse.commands.GotoMatchingBracket"
            contextId="net.sourceforge.texlipse.texEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P"/>            
    </extension>
   <extension
         id="builderproblem"
         name="Texlipse Build Error"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="spellingproblem"
         name="Texlipse Spelling Error"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="false"/>
   </extension>
   <extension
         id="layoutproblem"
         name="Texlipse layout warning"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="net.sourceforge.texlipse.spelling.SpellingResolutionGenerator"
            markerType="net.sourceforge.texlipse.spellingproblem"/>
   </extension>   
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="false"
            pattern="*.aux">
      </filter>
      <filter
            selected="false"
            pattern="*.log">
      </filter>
      <filter
            selected="false"
            pattern="*.toc">
      </filter>
      <filter
            selected="false"
            pattern="*.dvi">
      </filter>
      <filter
            selected="false"
            pattern="*.ps">
      </filter>
      <filter
            selected="false"
            pattern="*.bbl">
      </filter>
      <filter
            selected="false"
            pattern="*.blg">
      </filter>
      <filter
            selected="false"
            pattern="*.ind">
      </filter>
      <filter
            selected="false"
            pattern="*.ilg">
      </filter>
      <filter
            selected="false"
            pattern="*.lot">
      </filter>
      <filter
            selected="false"
            pattern="*.lof">
      </filter>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="org.eclipse.ui.externaltools"
            delegate="net.sourceforge.texlipse.viewer.TexLaunchConfigurationDelegate"
            id="net.sourceforge.texlipse.viewer.launchConfigurationType"
            modes="run"
            name="View Latex Document"
            public="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="net.sourceforge.texlipse.viewer.launchConfigurationType"
            class="net.sourceforge.texlipse.viewer.TexLaunchConfigurationTabGroup"
            id="net.sourceforge.texlipse.viewer.launchConfigurationTabGroup"/>
   </extension>
   <!-- Keys: M1=Ctrl M2=Shift M3=Alt-->
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	<launchConfigurationTypeImage
		id="net.sourceforge.texlipse.viewer.launchConfigurationTypeImage"
		configTypeID="net.sourceforge.texlipse.viewer.launchConfigurationType"
		icon="icons/preview.gif">
	</launchConfigurationTypeImage>	
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.sourceforge.texlipse.defAnnotation"
            colorPreferenceKey="highlight.color"
            colorPreferenceValue="180,207,205"
            contributesToHeader="false"
            highlightPreferenceKey="highlight.background"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTarget="false"
            label="Texlipse Occurence"
            overviewRulerPreferenceKey="highlight.rulers.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            textPreferenceKey="highlight.text"
            textPreferenceValue="false"
            textStylePreferenceKey="highlight.text.style"
            textStylePreferenceValue="IBEAM"
            verticalRulerPreferenceKey="highlight.rulers.vertical"
            verticalRulerPreferenceValue="false"/>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="tex"
            type="text">
      </fileTypes>
      <fileTypes
            extension="ltx"
            type="text">
      </fileTypes>
      <fileTypes
            extension="sty"
            type="text">
      </fileTypes>
      <fileTypes
            extension="cls"
            type="text">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
         <contentExtension
               pattern="net.sourceforge.texlipse.KpathNavigatorContent">
         </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="net.sourceforge.texlipse.ui.KpathseaProvider"
            id="net.sourceforge.texlipse.KpathNavigatorContent"
            labelProvider="net.sourceforge.texlipse.ui.KpathseaProvider"
            name="Search Paths" activeByDefault="true">
               <triggerPoints>
               <and>
               <adapt type="org.eclipse.core.resources.IProject">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="net.sourceforge.texlipse.builder.TexlipseNature"/>
               </adapt>
               </and>
               </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.texlipse.TexPerspectiveFactory"
            icon="icons/logo.gif"
            id="net.sourceforge.texlipse.TexlipsePerspective"
            name="LaTeX">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.spellingEngine">
      <engine
            class="net.sourceforge.texlipse.spelling.TexSpellingEngine"
            id="net.sourceforge.texlipse.LaTeXSpellEngine"
            label="Latex">
      </engine>
   </extension>
</plugin>
